

/* RESET */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* BODY */

body{
  font-family:'Inter', sans-serif;
  background:#f3f0eb;
  color:#3d2b22;
  line-height:1.6;
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

/* NAVBAR */

header{
  background:#ffffff;
  padding:20px 0;
  border-bottom:1px solid #ece4d8;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  gap:20px;
}

.logo{
  font-family:'Playfair Display', serif;
  font-size:24px;
  font-weight:700;
  color:#2B1D14;
}

.nav-links{
  display:flex;
  gap:30px;
  list-style:none;
  flex-wrap:wrap;
  color:#5A4738;
  font-family:'Inter', sans-serif;
  font-weight:500;
  font-size:15px;
  line-height:24px;
}

.nav-links a{
  text-decoration:none;
  color:#3d2b22;
  font-size:14px;
  transition:0.3s;
}

.nav-links a:hover{
  color:#C2562B;
}

.order-btn{
  background:#C2562B;
  color:#ffffff;
  padding:12px 20px;
  border-radius:6px;
  text-decoration:none;
  font-weight:600;
  transition:0.3s;
  width:143.7px;
  height:52px;
}

.order-btn:hover{
  background:#a94822;
}

/* HERO */

.hero{
  background:#FAF6F0;
  padding:80px 0;
}

.hero-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:60px;
  flex-wrap:wrap;
}

.hero-text{
  flex:1;
  min-width:300px;
}

.hero-text h1{
  font-family:'Playfair Display', serif;
  font-size:52px;
  line-height:1.2;
  margin-bottom:20px;
  color:#2B1D14;
}

.hero-text p{
  color:#6d625d;
  margin-bottom:30px;
  font-size:15px;
}

.hero-buttons{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

.btn{
  padding:14px 24px;
  border-radius:6px;
  border:none;
  cursor:pointer;
  font-size:14px;
  font-weight:600;
  transition:0.3s;
}

.primary-btn{
  background:#C2562B;
  color:white;
}

.primary-btn:hover{
  background:#a94822;
}

.secondary-btn{
  background:transparent;
  border:1px solid #3d2b22;
  color:#3d2b22;
}

.secondary-btn:hover{
  background:#3d2b22;
  color:white;
}

.hero-image{
  flex:1;
  min-width:300px;
}

.hero-image img{
  width:100%;
  border-radius:12px;
  display:block;
  object-fit:cover;
}

/* FEATURES */

.features{
  background:#ffffff;
  padding:100px 0;
  border-top:1px solid #ECE4D8;
  border-bottom:1px solid #ECE4D8;
  text-align:center;
}

.section-title{
  font-family:'Playfair Display', serif;
  font-size:42px;
  margin-bottom:10px;
  color:#2B1D14;
}

.section-subtitle{
  color:#7a716c;
  margin-bottom:50px;
}

.feature-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  gap:40px;
}

.feature-card{
  background-color:#FAF6F0;
  padding:35px;
  text-align:left;
  border-radius:10px;
  border:1px solid #ECE4D8;
}

.feature-number{
  width:48px;
  height:48px;
  border-radius:50%;
  background:#C2562B;
  color:#ffffff;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:20px;
  font-weight:700;
}

.feature-card h3{
  color:#2B1D14;
  line-height:1.3;
  font-size:22px;
  font-weight:700;
  margin-bottom:15px;
  font-family:'Playfair Display', serif;
}

.feature-card p{
  color:#5A4738;
  font-size:15px;
}

/* CONTACT */

.contact{
  background:#FAF6F0;
  padding:100px 0;
}

.contact-wrapper{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
  align-items:start;
}

.contact-info h2{
  font-family:'Playfair Display', serif;
  font-size:42px;
  margin-bottom:20px;
  color:#2B1D14;
}

.contact-info p{
  color:#5A4738;
  margin-bottom:20px;
  font-size:16px;
}

.contact-details{
  margin-top:30px;
}

.contact-details p{
  margin-bottom:20px;
}

strong{
  color:#C2562B;
  font-size:12px;
  letter-spacing:1px;
  text-transform:uppercase;
  display:block;
  margin-bottom:5px;
}

.contact-form form{
  background:#ffffff;
  padding:35px;
  border-radius:12px;
  border:1px solid #ECE4D8;
  width:100%;
}

.form-row{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

.form-group{
  display:flex;
  flex-direction:column;
  margin-bottom:22px;
  flex:1;
}

label{
  font-size:14px;
  font-weight:700;
  color:#2f241d;
  margin-bottom:10px;
}

input,
textarea{
  width:100%;
  border-radius:6px;
  border:1px solid #DDC8AD;
  background-color:#FAF6F0;
  padding:12px;
  font-size:14px;
  outline:none;
  font-family:'Inter', sans-serif;
}

textarea{
  height:120px;
  resize:none;
}

.submit-btn{
  border:none;
  border-radius:6px;
  background:#c85d2d;
  color:#fff;
  font-size:14px;
  font-weight:600;
  cursor:pointer;
  padding:14px 24px;
  transition:0.3s;
}

.submit-btn:hover{
  background:#a94822;
}

/* FOOTER */

footer{
  background:#2B1D14;
  color:#FAF6F0;
  padding:70px 0 30px;
}

.footer-grid{
  display:grid;
  grid-template-columns:2fr 1fr 1fr 1fr;
  gap:45px;
  margin-bottom:50px;
}

.footer-logo{
  font-family:'Playfair Display', serif;
  font-size:24px;
  margin-bottom:15px;
  color:#FAF6F0;
}

.footer-text{
  color:#9A8773;
  max-width:300px;
}

.footer-column h4{
  margin-bottom:18px;
  color:#FAF6F0;
}

.footer-column ul{
  list-style:none;
}

.footer-column li{
  margin-bottom:12px;
}

.footer-column a{
  text-decoration:none;
  color:#9A8773;
  font-size:14px;
  transition:0.3s;
}

.footer-column a:hover{
  color:#ffffff;
}

.footer-bottom{
  border-top:1px solid rgba(255,255,255,0.1);
  padding-top:25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  gap:20px;
  color:#9A8773;
}

.socials{
  display:flex;
  gap:12px;

  color:#FAF6F0;
  font-family:'Inter', sans-serif;
  font-weight:400;
  font-size:13px;
  line-height:20px;
  text-align:center;
}

.socials button{
  width:28px;
  height:28px;
  border:none;
  border-radius:50%;
  color:#ffffff;
  background-color:#4A3527;
  font-size:10px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.socials button:hover{
  background:#C2562B;
}

/* RESPONSIVE */

@media(max-width:900px){

  .hero-content,
  .contact-wrapper{
    grid-template-columns:1fr;
    display:grid;
  }

  .hero{
    text-align:center;
  }

  .hero-buttons{
    justify-content:center;
  }

  .footer-grid{
    grid-template-columns:1fr 1fr;
  }

  .hero-text h1{
    font-size:48px;
  }

}

@media(max-width:600px){

  nav{
    flex-direction:column;
  }

  .nav-links{
    justify-content:center;
  }

  .footer-grid{
    grid-template-columns:1fr;
  }

  .hero-text h1{
    font-size:40px;
  }

  .section-title,
  .contact-info h2{
    font-size:34px;
  }

  .form-row{
    flex-direction:column;
  }
}